// Professor, meu cadastro no sandbox da Melhor Envio não está funcionando, então estou usando o token de produção para fins de teste.

PORT=3000
MELHOR_ENVIO_TOKEN=cole_aqui_seu_token_do_sandbox
MELHOR_ENVIO_USER_AGENT=Trabalho Faculdade (seuemail@example.com)