* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(51, 14, 92);
    padding-bottom: 100px;
}

#barra {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(51, 14, 92);

    display: flex;
    justify-content: center;
    align-items: center;
}

#barra a {
    color: rgb(255, 247, 237);
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.artigo {
    max-width: 1280px;
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    background-color: rgb(255, 247, 237);
}

.artigo h1 {
    color: rgb(51, 14, 92);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: normal;
}

.artigo h2 {
    color: rgb(51, 14, 92);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: normal;
}

.artigo h3 {
    color: rgb(51, 14, 92);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: normal;
}

.artigo p {
    color: rgb(119, 58, 119);
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 30px;
    margin: 20px 50px;
}

ul {
    display: inline-block;
    text-align:center;
    padding-left: 25px;
    list-style-position: outside;
}

ol {
    display: inline-block;
    text-align:center;
    padding-left: 25px;
    list-style-position: outside;
}